.about-me-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-top: 10px;
}
.about-main{
  width: 100%;
}
.about-me-symbol{
  width: 50px;
}
.about-me-text{
  margin-left: 10px;
  font-size: 40px;
  font-weight: bold;
}
.about-me-pof-pic{
  width: 400px;
}