.header{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    border-bottom: solid 1px black;
    box-shadow: 1px 1px 15px rgb(88, 88, 88);
}
.left-seccion{
    padding-left: 70px;
    flex: 2;
}
.logo-name{
    font-size: 15px;
    font-weight: bold;
}
.right-seccion{
    flex: 2;
    display: flex;
    flex-direction: row;
}
.header-button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 35px;
}

.header-button:hover {
    color: blue;
}

.under-button {
    background-color: blue;
    height: 4px;
    width: 75%;
    opacity: 0;
    transition: opacity 0.1s;
}

/* This makes under-button visible when hovering over either the button or under-button */
.button-element:hover .under-button {
    opacity: 1;
}
 